// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #22b9ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #fd3995;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$text-body: #646c9a;
// "brand": "#22b9ff",
// "light": "#ffffff",
// "dark": "#282a3c",
// "primary": "#5867dd",
// "success": "#34bfa3",
// "info": "#36a3f7",
// "warning": "#ffb822",
// "danger": "#fd3995"

$dark:#b8bac3;
